.carusel-bar{
    height: 35px;
    display: flex;
    text-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.carousel {
    position: relative;
 
    
    margin: auto;
    overflow: hidden;
   
    border-radius: 8px;
    background: #fff;
}

.slides {
    display: flex;
    transition: transform 0.8s ease;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    
    text-align: center;
    font-size: 16px;
    font-weight: 550;
}

.buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.button {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
