.favorite-list{
    
}
.it{
    text-align: center;
    cursor: pointer;
    background-color: blanchedalmond;
    display: none;
}
.it button{
    
    background-color: white;
    cursor: pointer;
}
