.main{
    display: flex;
    margin-top: 40px;
    justify-content: center;
}


.block{
    display: flex;
    justify-content: space-between;
    width: 800px;
}
.wrap{
 display: flex;
  justify-content: space-between;
}
.wrap img{ 
   width: 100%;
}

